body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: url(nature.jpg);
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
    background-color: rgb(151, 164, 223);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(21, 16, 16);
    text-decoration: none;
    color: rgb(17, 18, 17);
    opacity: .8;
    position: relative;
    overflow: hidden;
}
.btn span{
    position: relative;
    z-index: 1;

}
.btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;

}
.btn:hover::before{
    width: 300px;
    height: 300px;
}